<div class="form-group row" ng-show="field.visible">
    <label class="control-label col-md-4" for="{{field.field_id}}">{{field.fieldLabel}}</label>

    <div class="col-md-4" id="{{field.field_id}}">
        <div ng-if="!field.InlineRadioButton">
            <div class="radio" ng-repeat="button in field.buttons" >
                <label><input type="radio" name="fieldName" value="button.value"
                              ng-change="changed({fieldChanged: field})"
                              ng-model="field.field_value"
                >{{button.text}}</label>
            </div>
        </div>
        <div ng-if="field.InlineRadioButton" >
            <label class="radio-inline" ng-repeat="button in field.buttons">
                <input type="radio" name="fieldName" value="button.value"
                       ng-change="changed({fieldChanged: field})"
                       ng-model="field.field_value"
                >
                {{button.text}}
            </label>
        </div>
    </div>

</div>