<div class="form-group" ng-show="field.visible">
    <label class="control-label col-md-4" >{{field.fieldLabel}}</label>
    <div class="col-md-4">
        <select ng-if="field.multiSelect"
                class="form-control"
                ng-model="field.selected"
                ng-options="option.text for option in field.options"
                ng-disabled="!field.enabled"
                ng-required="field.required"
                ng-change="changed({fieldChanged: field})"
                multiple>
            <option value="" selected>Select</option>
        </select>
        <select ng-if="!field.multiSelect"
                class="form-control"
                ng-model="field.selected"
                ng-options="option.text for option in field.options"
                ng-disabled="!field.enabled"
                ng-required="field.required"
                ng-change="changed({fieldChanged: field})"
        >
            <option value="" selected>Select</option>
        </select>
    </div>
</div>